@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" 
@plugin "daisyui/theme" {
  name: "rtc-sarslw";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(100% 0 0);
  --color-base-200: #fcf2f8;
  --color-base-300: #f9e4f0;
  --color-base-content: oklch(15% 0.179 326.571);
  --color-primary: #d41367;
  --color-primary-content: oklch(96% 0.015 12.422);
  --color-secondary: #1982c4;
  --color-secondary-content: #ffffff;
  --color-accent: #d41367;
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: #700074;
  --color-neutral-content: #f8f8f8;
  --color-info: #3daefb;
  --color-info-content: #2f2982;
  --color-success: #8ac926;
  --color-success-content: #33520c;
  --color-warning: #ffca3a;
  --color-warning-content: #874900;
  --color-error: #e02927;
  --color-error-content: #fde0e0;
  --radius-selector: 1rem;
  --radius-field: 1rem;
  --radius-box: 0.5rem;
  --size-selector: 0.21875rem;
  --size-field: 0.21875rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}
